Package: emt.paisseon.pseudo
Name: pseudo
Version: 0.1
Architecture: iphoneos-arm
Description: Use it like sudo or su
Depends: bash
Maintainer: Paisseon
Author: Paisseon
Section: System
Tag: role::hacker
